.news-container {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 2vw;
  background-color: #E0DBEB;
}

.news-sub-container {
  width: 75%;
}

.news-tilte {
  width: 90%;
  position: relative;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
}

.news-tilte::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #C10425;
  top: 42px;
  bottom: 0px;
  right: 0px;
  left: 3px;
}

.news-content-contain {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.news-content {
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  background: #eaeaea;
  display: flex;
  padding: 10px;
}

.news-content a {
  color: #C10425;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.news-content a:hover {
  text-decoration: underline;
}

.news-content p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
  width: 70%;
}

.img-news {
  display: flex;
  height: 50%;
  width: 100%;
  padding: 10px;
}

.img-news img {
  width: 400px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#view-more {
  border: 1px solid #C10425;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  width: 60%;
}

#view-more:hover {
  background-color: #C10425;
  color: #fff;
  transition: all 0.4s;
}

.news-infos {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}

.news-infos h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #C10425;
}

.news-infos a {
  width: 70%;
}

.error-message-contain {
  width: 75%;
  text-align: center;
}

.error-message {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;
}

.loading {
  color: #C10425;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

@media ( max-width: 1165px) {
  .news-content a {
    font-size: 1.4em;
  }

  .news-content-contain, .news-sub-container h1 {
    width: 100%;
  }

  .news-content {
    flex-direction: column;
  }

  .news-infos {
    margin: 0;
  }

  .news-infos a, .news-content p  {
    width: 100%;
  }

  .img-news {
    display: flex;
    flex-direction: column;
  }

  .img-news img {
    margin: 15px 0;
    width: auto;
  }
}

@media ( max-width: 460px) {
  .img-news img {
    width: 100%;
  }
}